#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Floating UNAHUR
Name[es]=UNAHUR flotante
Comment=Bubbles the UNAHUR logo around the screen
Comment[es]=Burbujas del logo UNAHUR alrededor de la pantalla
Exec=/usr/lib/mate-screensaver/mate-screensaver/floaters /usr/share/pixmaps/UNAHUR-logo.svg
TryExec=/usr/lib/mate-screensaver/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;logo;bubbles;
OnlyShowIn=MATE;
